.schedule-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.schedule-page-content-container {
  width: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.schedule-page-daily-card-container {
  height: 15rem;
  width: 35%;
  font-size: 14px;
  line-height: 120px;
  // background: #0092ff;
  border-radius: 4px;
  & > * {
    width: 100%;
    height: 100%;
  }
}

.row-container {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: row;
  & > * {
    margin: 8px;
  }
}
